#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "upvote-rss"
name = "Upvote RSS"
description.en = "Generate rich RSS feeds from Reddit, Hacker News, Lemmy, Mbin, and more"
description.fr = "Générez des flux RSS riches à partir de Reddit, Hacker News, Lemmy, Mbin et bien d'autres encore. "

version = "1.8.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://www.upvote-rss.com/"
demo = "https://demo.example.com"
code = "https://github.com/johnwarne/upvote-rss"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/upvote-rss"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]

    url = "https://github.com/johnwarne/upvote-rss/archive/refs/tags/v1.8.0.tar.gz"
    sha256 = "3159a07ee1e98cb980e9053ce8675956c014713af2b0d5a2211652cdbe46b733"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.4-fpm"
